/* General font smoothing */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Toastr styles */
.toast-success {
    background-color: #4BCF90 !important;
}

.toast-message,
.toast-title,
.toast {
    color: #FFFFFF;
}

.toast-error {
    background-color: #FF6D68 !important;
}

.toast-warning {
    background-color: #E09079 !important;
}

/* Root variables */
:root {
    --background: #FAFAFA;
    --base_color: #415094;
    --sidebar_bg: #0d0e12;
    --gradient_1: #7c32ff;
    --gradient_2: #7c32ff;
    --gradient_3: #7c32ff;
    --text-color: #828bb2;
    --scroll_color: #828bb2;
    --text_white: #FFFFFF;
    --bg_white: #FFFFFF;
    --text_black: #000000;
    --bg_black: #000000;
    --border_color: #EFF2F8;
    --sidebar_active: #ffffff;
    --sidebar_hover: #ffffff;
    --primary-color: #7c32ff;
    --card-gradient-cyan: linear-gradient(to right, #06b6d4, #22d3ee);
    --card-gradient-violet: linear-gradient(to right, #8b5cf6, #a78bfa);
    --card-gradient-blue: linear-gradient(to right, #3b82f6, #60a5fa);
    --card-gradient-fuchsia: linear-gradient(to right, #d946ef, #e879f9);
    --card-gradient-cyan-hover: linear-gradient(to right, #06b6d4, #22d3ee);
    --card-gradient-violet-hover: linear-gradient(to right, #8b5cf6, #a78bfa);
    --card-gradient-blue-hover: linear-gradient(to right, #3b82f6, #60a5fa);
    --card-gradient-fuchsia-hover: linear-gradient(to right, #d946ef, #e879f9);
    --sidebar-section: #636674;
    --sidebar-nav-link: #9a9cae;
    --transparent: transparent;
    --input_bg: #FFFFFF;
    --success: #4BCF90;
    --danger: #FF6D68;
    --warning: #E09079;
    --red: #d33333;
    --black: #000000;
    --link-hover: #161931;
    --notification_title: rgb(14, 23, 38);
    --notification_time: #3b3f5c99;
    --modalLink_color: #2f2f3be6;
    --profile_text_hover: #2d3253;
    --table_header: rgb(246, 248, 250);
    --box_shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px !important;
}


.fas.fa-robot.menu-only {
    font-size: 20px;
    color: #828bb2;
    margin-right: 5px;
}

a.pulse.theme_color.bell_notification_clicker {
    margin-right: 15px !important;
}

@media (min-width: 1350px) {
    .header_middle {
        display: block !important;
    }
}


.messengerContainer:hover {
    cursor: pointer;
}